<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gigifun.wszj">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <!-- 权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- GooglePlay支付权限 -->
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon2"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.gigifun.wszj.TestActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="userLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs "com.example.myapp://" -->
                <data
                    android:host="fb.me"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <!--floatbutton bengin-->
        <service android:name="com.gigifun.gp.service.FloatViewService"/>
        <!--floatbutton end-->
        <!-- begin  AppsFlyer -->
        <receiver
            android:name="com.appsflyer.MultipleInstallBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <!-- end  AppsFlyer -->

        <!--facebook 分享-->
        <!--<provider-->
        <!--android:authorities="com.facebook.app.FacebookContentProvider111072016076107"-->
        <!--android:name="com.facebook.FacebookContentProvider"-->
        <!--android:exported="true"/>-->

        <!-- begin  conversiontracking -->
        <receiver
            android:name="com.google.ads.conversiontracking.InstallReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <!-- end  conversiontracking -->

        <!--<service android:name="com.iiugame.gp.service.UService" />-->

        <meta-data
            android:name="UGAME_URL"
            android:value="@string/ugame_url" />
        <meta-data
            android:name="UGAME_ID"
            android:value="@string/ugame_id" />
        <meta-data
            android:name="UGAME_CLIENT_SECRET"
            android:value="@string/ugame_client_secret" />
        <meta-data
            android:name="UGAME_GM_KEY"
            android:value="@string/ugame_gm_key" />
        <meta-data
            android:name="FACEBOOK_APP_ID"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.gigifun.gp.MorePay"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!-- end -->
        <!-- begin  facebook -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:theme" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!-- end facebook -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name="com.gigifun.wszj.WxActivity"></activity>
    </application>
</manifest>
